import {Inject, Injectable} from "@nestjs/common";
import {BaseService} from "@core/base-application/base.service";

@Injectable()
export class <%= classify(name) %>Service extends BaseService{
    //injetar o(s) repositorio(s) ex: @Inject('IUsersRepository') private repo: IusersRepository
    constructor( private repo) {
        super(repo);
    }
}