import {INestApplication, ValidationPipe} from "@nestjs/common";
import {Test, TestingModule} from "@nestjs/testing";
import {AppModule} from "../../../../app.module";
import * as request from "supertest";

describe('LIST user (e2e)', () => {
    let app: INestApplication;
    let token!: string;
    beforeAll(async () => {
        const moduleFixture: TestingModule = await Test.createTestingModule({
            imports: [AppModule],
        }).compile();
        app = moduleFixture.createNestApplication();
        app.useGlobalPipes(new ValidationPipe());
        await app.init();

        //login para as rotas autenticadas
        const login = await request(app.getHttpServer())
            .post('/auth/login')
            .send({
                username: "jefferson.brasilino",
                password: '123456',
                applicationId: 'hue'
            });
        token = login.body.data;

    });

    it(`quando acessar a LISTAGEM, listar e retornar 200`, () => {
        return request(app.getHttpServer())
            .get('/administration/users')
            .set('Authorization', `Bearer ${token}`)
            .set('Accept', 'application/json')
            .expect(200)
    });

    it(`quando acessar a LISTAGEM com filtros que nao existem registro, retornar 404`, () => {
        return request(app.getHttpServer())
            .get('/administration/users?username=aquiebr')
            .set('Authorization', `Bearer ${token}`)
            .set('Accept', 'application/json')
            .expect(404)
    });

    afterAll(async () => {
        await app.close();
    });
})