import {IbaseRepository} from "@infrastructure/database/contracts/repository/ibase.repository";

export interface I<%= classify(name) %>Repository extends IbaseRepository {
    //registrar os metodos do repository aqui
}